:root {
  /* color */
  --color-white: #fff;
  --color-gray4: #ced4da;
  --color-gray7: #495057;
  --color-violet0: #f3f0ff;
  --color-violet2: #d0bfff;
  --color-violet4: #9775fa;
  --color-violet8: #6741d9;
  --color-violet9: #5f3dc4;
  --color-gray: rgba(222, 226, 230, 0.7);

  /* font */
  --font-poppins: 'Poppins', sans-serif;
  --font-spoqa: 'Spoqa Han Sans Neo', 'sans-serif';
  --font-size: 16px;
  /* time */
  --size-animation-duration: 300ms;
  /* size */
  --margin-bottom: 30px;
  --border-radius: 7px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-violet0);
  position: relative;
}

.container {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vh;
  height: 65vh;
  padding: 50px 120px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px 3px var(--color-gray);
  position: relative;
  /* border: 3px solid red; */
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vh;
  margin-bottom: 30px;
  padding: 10px;
  font-family: var(--font-poppins);
  /* border: 2px solid blueviolet; */
}

.title h2 {
  font-size: 20px;
}
.title p {
  font-size: 13px;
}

.main {
  width: 100%;
}

.todoLists {
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: scroll;
  /* border: 2px solid saddlebrown; */
}

.todoLists > li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 16px 20px;
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--color-gray7);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  position: relative;
  box-sizing: border-box;
}

.todoLists > li:hover {
  background-color: var(--color-violet0);
  color: var(--color-violet8);
  box-shadow: none;
  transition: 500ms ease;
}

.del-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 15px;
  color: var(--color-gray4);

  position: absolute;
  right: 20px;
}

.todoLists > li:hover .del-btn {
  /* visibility: visible; */
  font-size: 15px;
  color: var(--color-gray7);
  transition: 500ms ease;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

input[type='checkbox'] + label .check-btn {
  display: inline-block;
  border: 2px solid var(--color-violet8);
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-right: 8px;
}

input[type='checkbox']:checked + label .check-btn {
  display: inline-block;
  border: 2px solid var(--color-violet8);
  background-image: url('./img/check.png');
  background-size: cover;
  background-color: var(--color-violet9);
  border-radius: 10px;
  margin-right: 8px;
}

.listing {
  visibility: hidden;
  display: block;
  border: 1px solid var(--color-violet2);
  position: absolute;
  left: 140px;
  bottom: 50px;
  width: 360px;
  height: 35px;
  color: var(--color-gray7);
  padding-left: 15px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px 1px var(--color-violet2);
  font-size: 13px;
  font-family: var(--font-spoqa);
  font-weight: 500;
  box-sizing: border-box;
  transition: 500ms ease;
}

.fade-in {
  -webkit-animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  -webkit-animation: fade-out 500ms ease-out both;
  animation: fade-out 500ms ease-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.listing::placeholder {
  color: var(--color-gray);
  font-family: var(--font-poppins);
  font-weight: 600;
}

.listing:focus {
  outline: none;
}

.new-btn {
  width: 100px;
  height: 35px;
  border: none;
  background-color: var(--color-violet4);
  color: #fff;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px var(--color-violet2);
  font-family: var(--font-poppins);
  font-size: var(--font-size);
  font-weight: 600;
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50px);
}

.invisible-btn {
  width: 100px;
  height: 35px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  font-weight: 600;
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50px);
}

.new-btn:hover {
  background-color: var(--color-violet8);
  transition: 1000ms ease;
}

.alert {
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-poppins);
  position: fixed;
}

.alert__window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px var(--color-gray7);
  background-color: var(--color-white);
}

/* alert */
.alert__text::before {
  content: 'alert!';
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
  font-size: 25px;
  font-family: var(--font-poppins);
}

.alert__text {
  font-family: var(--font-spoqa);
}

.alert__okay {
  display: block;
  border: none;
  width: 80px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 0 5px 1px var(--color-violet2);
  margin-top: 40px;
  background-color: var(--color-violet4);
  color: var(--color-white);
  font-size: var(--font-size);
  font-family: var(--font-poppins);
  font-weight: 500;
  letter-spacing: 0.5px;
}
